@import "../../assets/style";

.default-banner {
  background: url("../../assets/sm.jpg");
}

.region-list {
  list-style: none;
  margin-top: 17px;
  & li {
    padding-left: 30px;
    position: relative;
    & svg {
      color: $green;
    }
  }
}

