.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 4px 20px -6px black;
}
.nav-upper a {
  font-weight: bold;
  font-size: 22px;
}
.nav-lower a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: rgb(29,78,154)!important;
}
.navbar-nav li a:hover {
  color: rgb(0,151,70)!important;
  transition: .4s ease;
}
