@import '~bootstrap/scss/bootstrap';
$dark-blue: rgb(29,78,154);
$light-blue: rgb(0,141,210);
$green: rgb(0,151,70);
$gray: #9399A3;
$black: #40403e;

main {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.text {
  color: $black;
  font-size: 1em;
}

// BANNER //
.jumbotron {
  max-width: 100%;
  border-radius: 0 !important;
  margin-bottom: 0;
}
h1 span {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  display: inline-block;
  padding: 15px 25px;
  color: white;
  background: $dark-blue;
}
.box .container {
  padding: 2em;
}
.shdw {
  z-index: 9999;
  box-shadow: 0 -2px 20px -6px black;
}
.default-banner {
  background: url("sm.jpg");
  padding-top: 60px;
  padding-bottom: 20px;
}
//CAPTION//
.caption {
  top:0;
  left:0;
  position: absolute;
}


