@import '~bootstrap/scss/bootstrap';
$vue-navy: #2c3e50;
$vue-navy-light: #3a5169;
$vue-teal: #42b883;
$vue-teal-light: #42b983;
$gray: #666a73;
$light-gray: #f8f8f8;

main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
// NAVIGATION  //
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 4px 20px -6px black;
}

.jumbotron {
  background: url("bg.jpg") no-repeat;
  max-width: 100%;
  padding-top: 260px;
  padding-bottom: 60px;
  border-radius: 0 !important;
  margin-bottom: 0;
}
h1 span {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  display: inline-block;
  padding: 15px 25px;
  color: white;
  background: #235ca9;
}
.box {
}
.shdw {
  z-index: 9999;
  box-shadow: 0 -2px 20px -6px black;
}
//CARDS//
/*.card {
  width: 280px;
  line-height: 24px;
  color: #fff;
  background: #235ca9;
  position: absolute;
  top: 120px;
  right: 15px;
  padding-top: 23px;
  padding-left: 35px;
  padding-right: 25px;
  padding-bottom: 25px;
  z-index: 1;
}*/
//CAPTION//
.img_wrapper {
  position: relative;
  width: auto;
  height: 7em;
  overflow: hidden;
}
.img_wrapper .img_opacity {
  filter: opacity(50%);
}
.caption {
  top:0;
  left:0;
  position: absolute;
}

.card-carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 40px;
  color: $gray;
}
.card-carousel {
  display: flex;
  justify-content: center;
  width: 640px;
  &--overflow-container {
    overflow: hidden;
  }
  &--nav__left,
  &--nav__right {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid $vue-teal;
    border-right: 2px solid $vue-teal;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 150ms linear;
    &[disabled] {
      opacity: 0.2;
      border-color: black;
    }
  }
  &--nav__left {
    transform: rotate(-135deg);
    &:active {
      transform: rotate(-135deg) scale(0.9);
    }
  }
  &--nav__right {
    transform: rotate(45deg);
    &:active {
      transform: rotate(45deg) scale(0.9);
    }
  }
}
.card-carousel-cards {
  display: flex;
  transition: transform 150ms ease-out;
  transform: translatex(0px);
  .card-carousel--card {
    margin: 0 10px;
    cursor: pointer;
    box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
    background-color: #fff;
    border-radius: 4px;
    z-index: 3;
    margin-bottom: 2px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      vertical-align: bottom;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      transition: opacity 150ms linear;
      user-select: none;
      &:hover {
        opacity: 0.5;
      }
    }
    &--footer {
      border-top: 0;
      padding: 7px 15px;
      p {
        padding: 3px 0;
        margin: 0;
        margin-bottom: 2px;
        font-size: 19px;
        font-weight: 500;
        color: $vue-navy;
        user-select: none;
        &:nth-of-type(2) {
          font-size: 12px;
          font-weight: 300;
          padding: 6px;
          background: rgba(40,44,53,.06);
          display: inline-block;
          position: relative;
          margin-left: 4px;
          color: $gray;
          &:before {
            content:"";
            float:left;
            position:absolute;
            top:0;
            left: -12px;
            width:0;
            height:0;
            border-color:transparent rgba(40,44,53,.06) transparent transparent;
            border-style:solid;
            border-width:12px 12px 12px 0;
          }
          &:after {
            content:"";
            position:absolute;
            top:10px;
            left:-1px;
            float:left;
            width:4px;
            height:4px;
            border-radius: 2px;
            background: white;
            box-shadow:-0px -0px 0px #004977;
          }
        }
      }
    }
  }
}
footer {
  background: lightgray;
}
